@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$corporate: #636360da;
$masterbrand: hsl(29, 100%, 48%);
$bg: color.scale($masterbrand, $lightness: 50%);
$bg2: color.scale($corporate, $lightness: -75%);

$mqMinWidth: 420px;
